<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>__HOME__/.local/bin:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.user.ccgram</string>
	<key>ProgramArguments</key>
	<array>
		<string>__HOME__/.local/bin/ccgram</string>
		<string>run</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>__HOME__/.ccgram/ccgram.err.log</string>
	<key>StandardOutPath</key>
	<string>__HOME__/.ccgram/ccgram.out.log</string>
	<key>Umask</key>
	<integer>63</integer>
	<key>WorkingDirectory</key>
	<string>__HOME__</string>
</dict>
</plist>
